<div class="Izquierda">
    <img src="" alt="Logo del tiempo de hoy" id="IconoTiempo">
    <div class="TemperaturaYDescripción">
      <p id="Temperatura">ssss</p>
      <p id="Descripción">saaa</p>
    </div>
  </div>
  <script src="../../Logica.js"></script>
  
  <style>
    .Izquierda {
    display: flex;
    margin: 0px;
    align-items: center;
    padding-left: 0.7%;

    img {
      width: 40%;
    }
    #Temperatura{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    #Descripción{
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  </style>