---
import Icon from "../icon.astro"
---

<div class="Medio">
    <Icon name="Windows11" />
    <Icon name="Buscar" />
    <Icon name="RecuperarVentana" />
    <Icon name="Widgets" />
    <Icon name="Zoom" />
    <Icon name="Carpeta" />
    <Icon name="Microsoft" />
  </div>

  <style>
    .Medio {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  </style>