---
import BarraTareas from '../components/BarraTareas.astro'
import Layout from '../layouts/Layout.astro';
import Fondo from '../components/Fondo/fondo.astro';
---

<Layout title="Windows 11">
	<main>
		<Fondo />
		<BarraTareas />
	</main>
</Layout>
