---
import Iconos from "./iconos.astro"
---



<div class="FondoNegro">
    <Iconos />
</div>


<style>
    .FondoNegro {
    width:50%;
    position: absolute;
    background-color: #bbbbbb;
    bottom: 0;
    margin-bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}
</style>

